@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bebas+Neue&display=swap');

/* 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bebas Neue', cursive;
 */
html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  scrollbar-width: none;
  overflow-y: scroll;
  /* overflow-x: scroll; */
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Bebas Neue', cursive;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Bebas Neue', cursive;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
}

h1:hover {
  cursor: default;
}

h2:hover {
  cursor: default;
}

h3:hover {
  cursor: default;
}

h5:hover {
  cursor: default;
}

p:hover {
  cursor: default;
}

/*  */
.Mark {
  position: fixed;
  top: 25px;
  left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Mark-Logo {
  position: fixed;
  top: 25px;
  right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Name {
  color: black;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  font-weight: bold;
}

.Logo {
  height: 40px;
}

.Gauche {
  position: fixed;
  top: 100px;
  left: 40px;
  display: flex;
  flex-direction: column;
}

.Droite {
  min-height: 700px;
  margin-left: 240px;
  margin-right: 130px;
  margin-top: 90px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Pictures-Galerie {
  min-height: 700px;
  margin-left: 240px;
  margin-right: 130px;
  margin-top: 90px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Bottom {
  position: fixed;
  bottom: 40px;
  left: 37px;
}

.Contact-Logo {
  color: black;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 3px;
}

.Item-Menu {
  color: black;
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.Bottom-B {
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  position: fixed;
  bottom: 0px;
  background-color: white;
}

.Bottom-Bar {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.BottomL {
  min-width: 200px;
  max-width: 200px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.BottomM {
  min-width: 200px;
  max-width: 200px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.BottomR {
  min-width: 200px;
  max-width: 200px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.Contact-Bottom {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.Galerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Architectures-Pictures {
  width: 32%;
  max-height: 32%;
  margin: 2px;
}

.Portraits-Pictures {
  width: 32%;
  max-height: 32%;
  margin: 2px;
}

.Paysages-Pictures {
  width: 32%;
  max-height: 32%;
  margin: 2px;
}

@media only screen and (max-width: 720px) {
  .Mark {
    display: none;
  }

  .Mark-Logo {
    display: none;
  }

  .Smart-Bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .Top-Menu {
    text-align: center;
    min-width: 100vw;
  }

  .Text-Menu {
    cursor: pointer;
  }

  .Top-Smart {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Mark-Smart {
    text-align: center;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Logo {
    margin-left: 0px;
    height: 40px;
  }

  .Gauche {
    display: none;
  }

  .Droite {
    min-height: 700px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 140px;
    padding-bottom: 80px;
  }

  .Pictures-Galerie {
    min-height: 700px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 140px;
    padding-bottom: 80px;
  }

  .Bottom {
    position: fixed;
    bottom: 35px;
    left: 0px;
    width: 100vw;
    text-align: center;
    background-color: white;
    padding-top: 10px;
  }

  .Item-Smart {
    color: black;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .Smart-Name {
    color: black;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: bold;
  }

  .Bottom-B {
    position: fixed;
    bottom: 0px;
  }

  .BottomL {
    display: none;
  }

  .BottomM {
    justify-content: flex-start;
    min-width: 150px;
    max-width: 150px;
  }

  .BottomR {
    justify-content: flex-end;
    min-width: 50px;
    max-width: 50px;
  }

  .Architectures-Pictures {
    width: 40%;
    max-height: 40%;
    margin: 2px;
  }

  .Portraits-Pictures {
    width: 40%;
    max-height: 40%;
    margin: 2px;
  }

  .Paysages-Pictures {
    width: 40%;
    max-height: 40%;
    margin: 2px;
  }
  
}

@media only screen and (min-width: 720px) {
  .Top-Menu {
    display: none;
  }

  .Top-Smart {
    display: none;
  }

  .Mark-Smart {
    display: none;
  }
}